# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.

required = [
  "k8s.io/apimachinery/pkg/util/sets/types",
  "k8s.io/code-generator/cmd/deepcopy-gen",
  "k8s.io/code-generator/cmd/defaulter-gen",
  "k8s.io/code-generator/cmd/client-gen",
  "k8s.io/code-generator/cmd/lister-gen",
  "k8s.io/code-generator/cmd/informer-gen",
  "github.com/knative/test-infra",
]

[prune]
  go-tests = true
  unused-packages = true
  non-go = true

[[prune.project]]
  name = "k8s.io/code-generator"
  unused-packages = false
  non-go = false

[[prune.project]]
  name = "github.com/knative/test-infra"
  unused-packages = false
  non-go = false

# Use HEAD (2018-04-21) to pick up:
# https://github.com/spf13/cobra/pull/662
[[override]]
  name = "github.com/spf13/cobra"
  revision = "615425954c3b0d9485a7027d4d451fdcdfdee84e"

[[override]]
  name = "github.com/spf13/pflag"
  revision = "583c0c0531f06d5278b7d917446061adc344b5cd"

[[override]]
  name = "gopkg.in/yaml.v2"
  version = "v2.2.1"

[[override]]
  name = "k8s.io/api"
  version = "kubernetes-1.11.3"

[[override]]
  name = "k8s.io/apimachinery"
  version = "kubernetes-1.11.3"

[[override]]
  name = "k8s.io/code-generator"
  version = "kubernetes-1.11.3"

[[override]]
  name = "k8s.io/client-go"
  version = "kubernetes-1.11.3"

[[override]]
  name = "github.com/json-iterator/go"
  # This is the commit at which k8s depends on this in 1.11
  # It seems to be broken at HEAD.
  revision = "f2b4162afba35581b6d4a50d3b8f34e33c144682"

[[override]]
  name = "github.com/golang/protobuf"
  version = "v1.1.0"

[[override]]
  name = "golang.org/x/oauth2"
  revision = "cdc340f7c179dbbfa4afd43b7614e8fcadde4269"

[[override]]
  name = "github.com/knative/pkg"
  # HEAD as of 2018-11-08
  revision = "4b704fa7948ad9ae8ec90d1cd5b4a34516b252ea"

[[constraint]]
  name = "github.com/knative/serving"
  version = "v0.1.1"

[[override]]
  name = "github.com/Shopify/sarama"
  version = "1.19.0"

[[constraint]]
  name = "sigs.k8s.io/controller-runtime"
  # HEAD as of 2018-09-19
  revision = "5373e8e1f3188ff4266902a6fc86372bc14b3815"
