### TODO: This is a sample Mako prod config. Copy this to your benchmark
# directory and complete the TODOs.

# Create this benchmark with the mako tool: mako create_benchmark prod.config
# Update this benchmark with the mako tool: mako update_benchmark prod.config
# Learn more about the mako tool at
# https://github.com/google/mako/blob/master/docs/CLI.md.

project_name: "Knative"
# TODO: Update the benchmark name and description to describe its purpose.
benchmark_name: "Sample Benchmark"
description: "Measure latency and throughput of the sample component."
# TODO: Fill in with the key returned by Mako when the benchmark is created.
benchmark_key: ''

# Human owners that can update the benchmark.
owner_list: "grantrodgers@google.com"
owner_list: "chizhg@google.com"
owner_list: "xiyue@google.com"
owner_list: "gracegao@google.com"
owner_list: "nachocano@google.com"
owner_list: "cshou@google.com"
# TODO: If you want to update the benchmark config using the mako tool, add
# your email to this list.

# GCP Service Accounts that can publish data to Mako. Since this is a prod
# benchmark, only the CI account should be listed here.
owner_list: "mako-job@knative-performance.iam.gserviceaccount.com"

# TODO: Replace the following with the equivalent configuration from
# test/test_images/performance/mako.config. This version is likely obsolete.

# Define the name and type for x-axis of run charts
# input_value_info: {
#   value_key: "t"
#   label: "time"
#   type: TIMESTAMP
# }
#
# Note: value_key is stored repeatedly and should be very short (ideally one or two characters).
# metric_info_list: {
#   value_key: "pl"
#   label: "publish-latency"
# }
# metric_info_list: {
#   value_key: "pe"
#   label: "publish-errors"
# }
# metric_info_list: {
#   value_key: "st"
#   label: "send-throughput"
# }
# metric_info_list: {
#   value_key: "dl"
#   label: "deliver-latency"
# }
# metric_info_list: {
#   value_key: "de"
#   label: "deliver-errors"
# }
# metric_info_list: {
#   value_key: "dt"
#   label: "deliver-throughput"
# }
# metric_info_list: {
#   value_key: "ft"
#   label: "failure-throughput"
# }
