# Copyright 2019 The Knative Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: sources-controller
  namespace: knative-eventing
  labels:
    eventing.knative.dev/release: devel
spec:
  selector:
    matchLabels:
      app: sources-controller
  template:
    metadata:
      labels:
        app: sources-controller
        eventing.knative.dev/release: devel
    spec:
      serviceAccountName: eventing-source-controller

      containers:
      - name: controller
        # This is the Go import path for the binary that is containerized
        # and substituted here.
        image: knative.dev/eventing/cmd/sources_controller

        resources:
          requests:
            cpu: 100m
            memory: 100Mi

        env:
          - name: SYSTEM_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: CONFIG_LOGGING_NAME
            value: config-logging
          - name: CONFIG_OBSERVABILITY_NAME
            value: config-observability
          - name: METRICS_DOMAIN
            value: knative.dev/sources
          - name: CRONJOB_RA_IMAGE
            value: knative.dev/eventing/cmd/cronjob_receive_adapter
          - name: PING_IMAGE
            value: knative.dev/eventing/cmd/ping
          - name: APISERVER_RA_IMAGE
            # This is the Go import path for API server receive adapter binary
            # that is containerized and substituted here.
            value: knative.dev/eventing/cmd/apiserver_receive_adapter

        ports:
          - name: metrics
            containerPort: 9090
          - name: profiling
            containerPort: 8008
