### Creating this benchmark:
# mako create_benchmark test/performance/broker-latency/dev.config
### Updating this benchmark:
# mako update_benchmark test/performance/broker-latency/dev.config

project_name: "Knative"
benchmark_name: "Development - Broker Latency & Throughput"
description: "Measure latency and throughput of the broker using various channels."
benchmark_key: '5903682180743168'

# Human owners for manual benchmark adjustments.
owner_list: "grantrodgers@google.com"
owner_list: "chizhg@google.com"
owner_list: "xiyue@google.com"
owner_list: "gracegao@google.com"
owner_list: "nachocano@google.com"

# Anyone can add their IAM robot here to publish to this benchmark.
owner_list: "mako-job@knative-eventing-performance.iam.gserviceaccount.com"
# This is grantrodgers' robot:
owner_list: "mako-upload@grantrodgers-crd.iam.gserviceaccount.com"
owner_list: "mako-upload@xiyue-knative-project.iam.gserviceaccount.com"
owner_list: "mako-upload@gracegao-knative-gcp-testing.iam.gserviceaccount.com"
owner_list: "mako-upload@knative-project-228222.iam.gserviceaccount.com"

# Define the name and type for x-axis of run charts
input_value_info: {
  value_key: "t"
  label: "time"
  type: TIMESTAMP
}

# Note: value_key is stored repeatedly and should be very short (ideally one or two characters).
metric_info_list: {
  value_key: "pl"
  label: "publish-latency"
}
metric_info_list: {
  value_key: "pe"
  label: "publish-errors"
}
metric_info_list: {
  value_key: "st"
  label: "send-throughput"
}
metric_info_list: {
  value_key: "dl"
  label: "deliver-latency"
}
metric_info_list: {
  value_key: "de"
  label: "deliver-errors"
}
metric_info_list: {
  value_key: "dt"
  label: "deliver-throughput"
}
metric_info_list: {
  value_key: "ft"
  label: "failure-throughput"
}
