apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: mt-broker-ingress
  namespace: knative-eventing
rules:
  - apiGroups:
      - ""
    resources:
      - "secrets"
    verbs:
      - get
      - list
      - watch
