# Copyright 2020 The Knative Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: batch/v1
kind: Job
metadata:
  # Adding a prefix to avoid naming conflict with previous version's post-install jobs,
  # we cannot use `generateName` here as it's not supported by `kubectl apply -f`
  #
  # If `ttlSecondsAfterFinished` feature gate becomes generally available in the future,
  # we can rely on that and keep using the same Job name.
  name: v0.23-storage-version-migration
  namespace: knative-eventing
  labels:
    app: "storage-version-migration"
    eventing.knative.dev/release: devel
spec:
  ttlSecondsAfterFinished: 600
  backoffLimit: 10
  template:
    metadata:
      labels:
        app: "storage-version-migration"
        eventing.knative.dev/release: devel
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      serviceAccountName: knative-eventing-post-install-job
      restartPolicy: OnFailure
      containers:
        - name: migrate
          image: ko://knative.dev/eventing/vendor/knative.dev/pkg/apiextensions/storageversion/cmd/migrate
          args:
            - "pingsources.sources.knative.dev"

          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 1000m
              memory: 1000Mi

          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            readOnlyRootFilesystem: true
